/* Basic Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #89fffd, #ef32d9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* Container for Profile Card */
.profile-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  width: 350px;
  animation: slide-in 0.5s ease-out;
  position: fixed;
  top: 100px;
  left: -350px;
  display: none;
}

/* Profile Image */
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid #89fffd;
}

/* Profile Info */
.user-name {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.profile-info {
  height: 113.6px;
}
.profile-info p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
  float: left;
  padding-left: 35px;
}

/* Buttons */
.btn-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.btn {
  background-color: #ef32d9;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 90%;
}

.btn:hover {
  background-color: #ff3f81;
}

/* Animations */
@keyframes slide-in {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
